<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b17cd8d7-9323-44cc-9fb0-20814f11a15f/resourcegroups/TifoXR/providers/Microsoft.Web/sites/TifoXRCoreWebAPI</ResourceId>
    <ResourceGroup>TifoXR</ResourceGroup>
    <ApiResourceId>/subscriptions/b17cd8d7-9323-44cc-9fb0-20814f11a15f/resourceGroups/TifoXR/providers/Microsoft.ApiManagement/service/TifoXRCoreWebAPI/apis/TifoXRCoreWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tifoxrcorewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>03bd0e08-5631-46f3-a1f7-eed840526529</ProjectGuid>
    <MSDeployServiceURL>tifoxrcorewebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TifoXRCoreWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TifoXRCoreWebAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>